div {
  height: 200px;

  p {
    color: #08cc0f;

    a {
      color: inherit;

      &:hover {
        color: yellow;
      }
    }
  }
}


.header {
  padding: unset;

  &__search {
top: 4px;
  }
}