@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center; }

.header__right, .header__left {
  display: flex;
  align-items: center; }

.header__logo img {
  margin-right: 13px;
  margin-bottom: 13px; }

.header__logo {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 27px;
  display: flex;
  align-items: center;
  line-height: 50px;
  margin-right: 37px; }

.header__logo span {
  color: #f16d7f;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 50px;
  font-size: 27px; }

.header__search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden; }

.browse {
  color: #222222;
  font-size: 14px;
  height: inherit;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #efefef; }

.header__search input {
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  outline: none;
  overflow: hidden;
  height: inherit;
  padding: 14px 16px; }

.header__search placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px; }

.header__search button {
  border: none;
  outline: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  background-color: none;
  height: inherit;
  width: 36px;
  background-color: white; }

.header__cart {
  margin-right: 26px; }

.header__account-bar {
  width: 130px;
  color: #ffffff;
  font-size: 15px;
  line-height: 38px;
  background-color: #f16d7f;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.header__line {
  border-bottom: 1px solid #ececec; }

.topNav {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700; }

.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222222; }

.topNav a:not(:last-child) {
  margin-right: 48px; }

.feature {
  padding-top: 0px;
  width: 1140px;
  margin: 0 auto; }
  .feature__box {
    background-color: #222224;
    display: flex; }
  .feature__img {
    width: 767px;
    height: 529px;
    background-color: #f0f0f0;
    background-image: url(../img/Feature_img.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-left: 25px; }
  .feature__h1 {
    width: 400px;
    height: 78px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 113px;
    margin-left: 23px; }
    .feature__h1_color {
      font-size: 54px;
      letter-spacing: 1.5px;
      color: #f16d7f; }
  .feature__h2 {
    font-size: 32px;
    letter-spacing: 0.9px;
    font-weight: 700;
    color: #ffffff;
    margin-top: -64px;
    margin-left: 23px; }
  .feature__articles {
    width: 373px;
    padding: 48px 36px 48px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .feature__article {
    display: flex;
    justify-content: space-between; }
  .feature__article-img {
    align-self: start; }
  .feature__article-content {
    width: 100%; }
  .feature__article-h3 {
    width: 180px;
    height: 20px;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-left: 30px;
    margin-top: 3px; }
  .feature__article-text {
    width: 243px;
    height: 58px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-left: 30px; }

.footer .footer__background {
  width: 100%;
  height: 438px;
  background-image: url(../img/subscribe_img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #efefef;
  background-size: cover;
  margin-bottom: 109px;
  margin-top: 97px; }
.footer__subscribe {
  width: 1140px;
  height: 438px;
  display: flex; }
  .footer__subscribe-left {
    border-right: 1px solid #ffffff;
    width: 50%; }
    .footer__subscribe-left .left {
      display: flex;
      padding-top: 111px; }
      .footer__subscribe-left .left__img {
        height: 83px;
        width: 83px;
        border-radius: 50%;
        margin-right: 28px;
        margin-left: -10px; }
      .footer__subscribe-left .left__content {
        width: 500px;
        height: 68px; }
      .footer__subscribe-left .left__quote {
        color: #222224;
        width: 418px;
        height: 68px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.4px;
        font-style: italic; }
      .footer__subscribe-left .left__box-name {
        padding-top: 19px;
        color: #222224;
        width: 300px;
        height: 27px;
        font-size: 13px;
        font-weight: 300; }
      .footer__subscribe-left .left__name_color {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 26px; }
      .footer__subscribe-left .left__link-box {
        display: flex;
        justify-content: start;
        padding-top: 41px; }
      .footer__subscribe-left .left__link {
        display: block;
        height: 4px;
        width: 38px;
        background-color: #d6d6d6;
        margin-right: 13px;
        transition: 0.3s; }
        .footer__subscribe-left .left__link_color {
          background-color: #f16d7f; }
        .footer__subscribe-left .left__link:hover {
          background-color: #f16d7f; }
  .footer__subscribe-right {
    width: 50%; }
    .footer__subscribe-right .right {
      padding: 148px 0 0 92px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #222224; }
      .footer__subscribe-right .right__h2 {
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 54px;
        font-weight: 400;
        text-transform: uppercase; }
      .footer__subscribe-right .right__text {
        margin-top: -30px;
        letter-spacing: 0.06px;
        line-height: 14px;
        font-weight: 400;
        font-size: 14px; }
      .footer__subscribe-right .right__form {
        align-self: start;
        height: 46px;
        display: flex;
        border-radius: 23px;
        overflow: hidden;
        margin-top: 30px; }
      .footer__subscribe-right .right__form-input {
        width: 282px;
        height: 46px;
        background-color: #e1e1e1;
        border: none;
        outline: none;
        padding: 0 28px;
        opacity: 0.67;
        color: #222224;
        font-weight: 400;
        font-size: 14px;
        line-height: 54px;
        letter-spacing: 0.35px; }
      .footer__subscribe-right .right__form-button {
        display: flex;
        justify-content: center;
        color: #ffffff;
        background-color: #f16d7f;
        transition: 0.4s;
        width: 104px;
        height: 46px;
        font-size: 14px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0.35px;
        text-decoration: none;
        vertical-align: middle; }
        .footer__subscribe-right .right__form-button:hover {
          box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.16);
          background-color: #d04c5e; }
.footer-content {
  display: flex;
  justify-content: space-between;
  min-height: 448px; }
  .footer-content__about {
    flex-basis: 40%; }
  .footer-content__desc {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    padding: 17px 0;
    height: 39px;
    letter-spacing: 0.35px;
    width: 427px;
    margin-top: 20px;
    margin-left: 36px; }
  .footer-content .footer__logo img {
    margin-left: 31px;
    margin-top: -10px;
    margin-right: 13px; }
  .footer-content .footer__logo {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    display: flex;
    align-items: center;
    line-height: 50px; }
  .footer-content .footer__logo span {
    color: #f16d7f;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 50px;
    font-size: 27px; }
  .footer-content__company {
    flex-basis: 20%;
    margin-left: 52px; }
  .footer-content__h3 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 6px; }
  .footer-content__information {
    flex-basis: 20%; }
  .footer-content__category {
    flex-basis: 20%; }
  .footer-content .footer-menu {
    padding-top: 26px; }
    .footer-content .footer-menu__item {
      list-style-type: none; }
    .footer-content .footer-menu__link {
      color: #898989;
      font-weight: 400;
      transition: 0.3s;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 42px;
      margin-left: -40px; }
      .footer-content .footer-menu__link:hover {
        color: #f16d7f; }
.footer__copyright-background {
  background-color: #e6e6e6;
  width: 100%; }
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px; }
.footer__copyright-text {
  color: #7a7a7a;
  font-weight: 400;
  height: 14px;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.4px;
  margin-top: -5px; }
.footer__copyright-icons {
  display: flex; }
.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 16px;
  color: #b2b2b2;
  background-color: #fff;
  letter-spacing: 0.3px;
  line-height: 42px;
  transition: 0.3s; }
  .footer__copyright-link:not(:last-child) {
    margin-right: 8px; }
  .footer__copyright-link:hover {
    background-color: #f16d7f;
    color: #f7f7f8; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center; }

.header__right, .header__left {
  display: flex;
  align-items: center; }

.header__logo img {
  margin-right: 13px;
  margin-bottom: 13px; }

.header__logo {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 27px;
  display: flex;
  align-items: center;
  line-height: 50px;
  margin-right: 37px; }

.header__logo span {
  color: #f16d7f;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 50px;
  font-size: 27px; }

.header__search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden; }

.browse {
  color: #222222;
  font-size: 14px;
  height: inherit;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #efefef; }

.header__search input {
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  outline: none;
  overflow: hidden;
  height: inherit;
  padding: 14px 16px; }

.header__search placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px; }

.header__search button {
  border: none;
  outline: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  background-color: none;
  height: inherit;
  width: 36px;
  background-color: white; }

.header__cart {
  margin-right: 26px; }

.header__account-bar {
  width: 130px;
  color: #ffffff;
  font-size: 15px;
  line-height: 38px;
  background-color: #f16d7f;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.header__line {
  border-bottom: 1px solid #ececec; }

.topNav {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700; }

.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222222; }

.topNav a:not(:last-child) {
  margin-right: 48px; }

.brand-top__background {
  width: 100%;
  height: 613px;
  background-color: #e8e8e8; }

.brand-top {
  height: inherit;
  display: flex;
  justify-content: space-between; }

.brand-top__header {
  margin-top: 224px;
  margin-bottom: 297px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  padding-left: 12px;
  border-left: 12px solid #f16d7f; }

.brand-top__header-part1 {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 61px; }

.brand-top__header-part2 {
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 50px; }

.brand-top__header-part2 span {
  color: #f16d7f; }

.news-and-offers {
  height: 823px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }

.news-and-offers__list1 {
  width: 560px;
  height: 542px;
  background-image: url(../img/news-and-offers1.jpg);
  position: relative; }

.news-and-offers__list1-content {
  width: 156px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.news-and-offers__declaration-top {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px; }

.news-and-offers__declaration-bottom {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 700; }

.news-and-offers__list2 {
  width: 560px;
  height: 261px;
  background-image: url(../img/news-and-offers2.jpg);
  position: relative; }

.news-and-offers__list2-content {
  width: 225px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.news-and-offers__list3 {
  width: 560px;
  height: 261px;
  background-image: url(../img/news-and-offers3.jpg);
  position: relative; }

.news-and-offers__list3-content {
  width: 143px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.news-and-offers__list4 {
  width: 560px;
  height: 542px;
  background-image: url(../img/news-and-offers4.jpg);
  position: relative; }

.news-and-offers__list4-content {
  width: 161px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.featured-items {
  height: 1095px; }

.featured-items__header {
  width: inherit;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.featured-items__header-top {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 25px; }

.featured-items__header-bottom {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  color: #9f9f9f;
  line-height: 40px; }

.featured-items__list {
  height: 755px;
  margin-top: 59px;
  margin-bottom: 59px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between; }

.featured-items__item {
  width: 261px;
  height: 363px;
  position: relative; }

.add-hover-div {
  width: inherit;
  height: inherit;
  background-color: #3a3838;
  opacity: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center; }

.add-hover-div a {
  width: 123px;
  height: 39px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2px;
  border: 1px solid #ffffff; }

.add-hover-div a img {
  width: 23px;
  height: 22px; }

.featured-items__item:hover {
  outline: 1px solid #e6e6e6;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.featured-items__item:hover .add-hover-div {
  display: flex; }

.featured-items__item-top {
  width: inherit;
  height: 280px;
  background-color: #e9e9e9; }

.featured-items__item-top img {
  height: inherit;
  width: inherit; }

.featured-items__item-bottom {
  width: inherit;
  height: 83px;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.featured-items__item-bottom div:first-of-type {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.featured-items__item-bottom div:last-of-type {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.featured-items__button {
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.featured-items__button a {
  width: 212px;
  text-decoration: none;
  color: #ffffff;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  letter-spacing: 0.4px; }

.new-arrivals-main {
  height: 148px;
  width: 100%;
  background-color: #f8f3f4; }

.new-arrivals {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .new-arrivals h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .new-arrivals a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #636363; }
    .new-arrivals a:last-of-type {
      color: #f16d7f;
      font-weight: 700; }

.shopping-cart-items {
  height: 713px; }

.shopping-cart-items__headers-row {
  height: 122px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .shopping-cart-items__headers-row div {
    margin-bottom: 20px;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    display: flex; }
    .shopping-cart-items__headers-row div:first-of-type {
      width: 420px; }
    .shopping-cart-items__headers-row div:not(:first-of-type):not(:last-of-type) {
      width: 144px;
      justify-content: center; }

.shopping-cart-items__details-row {
  height: 163px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between; }
  .shopping-cart-items__details-row div {
    display: flex; }
    .shopping-cart-items__details-row div:first-of-type {
      width: 420px;
      align-items: center; }
      .shopping-cart-items__details-row div:first-of-type img {
        height: 115px;
        width: 100px;
        margin-right: 21px; }
      .shopping-cart-items__details-row div:first-of-type div {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        width: 160px; }
        .shopping-cart-items__details-row div:first-of-type div h3 {
          color: #222222;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase; }
        .shopping-cart-items__details-row div:first-of-type div p {
          color: #6f6e6e;
          font-size: 13px;
          font-weight: 300;
          line-height: 20px; }
          .shopping-cart-items__details-row div:first-of-type div p span {
            font-weight: 700; }
    .shopping-cart-items__details-row div:not(:first-of-type):not(:last-of-type) {
      width: 144px;
      justify-content: center;
      align-items: center;
      color: #656565;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase; }
      .shopping-cart-items__details-row div:not(:first-of-type):not(:last-of-type) input {
        width: 54px;
        height: 30px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        text-align: center; }
    .shopping-cart-items__details-row div:last-of-type {
      width: 49px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .shopping-cart-items__details-row div:last-of-type a {
        color: #c0c0c0;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase; }
        .shopping-cart-items__details-row div:last-of-type a:hover {
          color: #f16d7f; }

.shopping-cart-items__buttons {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .shopping-cart-items__buttons a {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }
    .shopping-cart-items__buttons a:hover {
      background-color: #f16d7f;
      color: #ffffff; }

.delivery-details {
  height: 347px;
  padding-top: 63px;
  display: flex;
  justify-content: space-between; }

.delivery-details__shipping-address {
  width: 360px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .delivery-details__shipping-address h2 {
    margin: 0;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .delivery-details__shipping-address div {
    width: 357px;
    height: 49px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    display: flex;
    align-items: center; }
    .delivery-details__shipping-address div input {
      width: 324px;
      border: none;
      outline: none; }
    .delivery-details__shipping-address div a {
      border: none;
      height: inherit;
      width: 33px;
      color: #bdbdbd;
      font-size: 15px;
      font-weight: 400; }
  .delivery-details__shipping-address input {
    width: 337px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 18px; }
  .delivery-details__shipping-address a {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }

.delivery-details__coupon-discount {
  width: 360px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .delivery-details__coupon-discount h2 {
    margin: 0;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .delivery-details__coupon-discount p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin: 0; }
  .delivery-details__coupon-discount input {
    width: 337px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 18px; }
  .delivery-details__coupon-discount a {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; }

.delivery-details__checkout {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: flex;
  justify-content: center;
  align-items: center; }

.delivery-details__checkout-inner {
  width: 275px;
  height: 134px; }
  .delivery-details__checkout-inner div {
    height: 67px;
    width: inherit; }
    .delivery-details__checkout-inner div:first-of-type {
      border-bottom: 0.5px solid #e2e2e2; }
      .delivery-details__checkout-inner div:first-of-type h4 {
        color: #4a4a4a;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
        text-align: right; }
      .delivery-details__checkout-inner div:first-of-type h2 {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right; }
        .delivery-details__checkout-inner div:first-of-type h2 span {
          color: #f16d7f; }
    .delivery-details__checkout-inner div:last-of-type {
      border-top: 0.5px solid #e2e2e2;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .delivery-details__checkout-inner div:last-of-type a {
        width: 273px;
        height: 50px;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
