.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  background-color: green;
}

.error {
  @extend .message;
  background-color: red;
}

.warning {
  @extend .message;
  background-color: yellow;
}